body{
   background-color: rgba(42, 42, 46, 1);
}
p{
    color: white;
}
li{
    color: white;
}
.header{
    font-family: "Sofia", sans-serif;
    font-size: 42px;
    font-style: italic;            
    color: burlywood;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0;
}
.portfolio-section{
    text-align: center;
}
.link-menu{
    margin-top: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact{
    padding-right: 80px;
    padding-left:  80px;
    color: burlywood;
}
.portfolio{
    padding-right: 80px;
    padding-left:  80px;
    color: burlywood;
}
.homepage{
    padding-right: 80px;
    padding-left:  80px;
    color: burlywood;
}
.contact:hover{
    color: black;
    text-decoration: solid;
}
.portfolio:hover{
    color: black;
    text-decoration: solid;
}
.homepage:hover{
    color: black;
    text-decoration: solid;
}
.portrait{
    height: 329px;
    border-radius: 80px;
    border:solid 10px burlywood;
    margin-bottom: 5px;
}
.meme{
    margin-left: 0;
    width: 500px;
    vertical-align: top;
}
.about-header{
    display: inline-block;
    margin-top: 0;
    font-family: "Sofia", sans-serif;
    font-size: 24px;
    font-style: italic;            
    color: burlywood;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 0;
}
.about-text{
    /*display: inline-block;*/
    margin-top: 0;
    font-family: Arial;
    margin-left: 30px;
    margin-right:30px ;
    text-align: left;
    font-size: 16px;
    font-style: italic;
    width: 250px;
    margin-bottom: 200px;
}
.picandtext{
    display: inline-block;
}
section{
    text-align: center;
}
.aboutMe-block{
    vertical-align: top;
    display: inline-block;
}
.footnote{
    text-align: center;
    margin-bottom: 0;
    color: white;
}
.name{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
.age{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
.phone-number{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
.email{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.span-name{
    font-weight: bold;
}
.span-age{
    font-weight: bold;
}
.span-phone{
    font-weight: bold;
}
.span-email{
    font-weight: bold;
}
.span-github{
    font-weight: bold;
    text-align: center;
}
.github-button{
    background-color: rgb(97, 25, 107);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: opacity 0.15s;
}
.github-line{
    display: block;
    text-align: center;
}
.github-button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.github-button:active{
    opacity: 0.5;
}
.github-name{
    color: white;
    font-family: Arial;
    text-decoration: solid white;
}
.about-contact{
    font-family: "Sofia", sans-serif;
    font-size: 42px;
    font-style: italic;            
    color: burlywood;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
.map-block{
    display: block;
    text-align: center;
    margin-left: 30px;
}
.portfolio-header{
   font-family: "Sofia", sans-serif;
    font-size: 42px;
    font-style: italic;            
    color: burlywood;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
.secret-block{
    text-align: center;
}
.secret{
    color: grey;
    text-decoration: solid;
    font-size: 18px;
    margin-left: 30px;
}
.memory-picture{
    height: 274px;
    vertical-align: top;
    
}
.list-block{
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    display: inline-block;
    text-align: center;
}
.list-object{
    text-align: center;
}
.questionscreen{
    height: 274px;
    vertical-align: top;
}
.categoryscreen{
    height: 274px;
    vertical-align: top;
}
.homescreen-picture{
    height: 274px;
    vertical-align: top;
    box-shadow: 0 10px 10px 0 rgb(59, 59, 64);
}
.portfolio-subheader{
    font-size: 32px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
    color: white;
    display: inline-block;
}
